
section {
    max-width: 160vH;
    margin: auto;
    /* background: url(); */
    padding: 10px;
  }
.gallery-div{
    
    margin:10px;
    display:grid;
    grid-template-columns: repeat(auto-fit,  minmax(300px, 1fr) );
    grid-auto-rows: 150px;
    grid-gap:10px;
  }
  .gallery-div div{
    display:flex;
    justify-content: center;
    align-items:center;
    width:100%;
    height: 100%;
    background-color:#794444;
    color:#fff;
    font-size:30px;
    overflow:hidden;
    font-weight:100;
  }
  
  .wide{
      grid-column: auto;
    }
    .tall{
      grid-row: auto;
    }
    .big{
      grid-column: auto;
      grid-row:auto;
    }
  
  /* Media Query Start for Mobile phones */
  @media (min-width:540px){
    .gallery-div{
      margin:30px;
      grid-template-columns: repeat(auto-fit,  minmax(150px, 1fr) );
      grid-auto-rows: 150px;
      grid-auto-flow:dense;
      grid-gap:10px;
    }
    .wide{
      grid-column: span 2;
    }
    .tall{
      grid-row: span 1;
    }
    .big{
      grid-column: span 2;
      grid-row:span 2;
    }
  
  }
  @media (max-width:400px){
    .gallery-div{
      grid-template-columns: repeat(auto-fit,  minmax(300px, 1fr) );
    }
  }